<body>
    <div class="container">
        <!-- <div style="padding-left: 20px;"> -->
        <h1 style="font-family: 'B612', sans-serif;">{{heading}}</h1>
        <!-- <p> {{show}}</p> -->
        <span style="float: right;">
            <img src="assets/20191111_131613.jpg" alt="My image">
        </span>
        <p style="display: block; width: 100%;">
            Hello Reader, I am Krishnakumar. I have 4 years of experience in Angular Js and Front end design.

            Bachelor of Computer Science Engineering, from Anjalai Ammal Mahalingam Engg College, Affiliated to Anna
            University, Chennai, TN.<br>

            I would like to create the websites, which are awesome in UI.

            I will create the websites which are based on your needs. I am ready to create the websites like
            simple web application.<br>

            Now I am currrently working in my startup to develop the new company which are useful to the peoples.

            The Company will solve the human problems which are facing day to day life.<br>

            I am having 4 years of experience in performance engineering and handle many projects related to performance
            issues.

            I work closely with an application and client oriented. I give the recommendations to complex application
            performance issues.<br>

            I have work expertise in great performance monitoring tools like App Dynamics and Dynatrace.

            I have an experience creating single page application using angular js.<br>

            Have working experience in Fiddler tool, Load runner tool, web sphere too.

            Performance Engineer with 4 years of experience in development and performance engineering of Java/J2EE
            applications in Cognizant. Worked in analyzing Heap Dumps, Thread Dumps, and GC Logs, Web access logs and
            other
            App and Web server parameters.<br>

            Worked in Performance tuning and identifying bottlenecks in Web, Application and Database tiers. Worked on
            the
            automated scriptable tools to monitor website performance and critical business transaction in preproduction
            environment.

            Trained in performance monitoring and trained on performance analysis of Java/J2EE based applications. Write
            powershell scripts to do the basic tasks of automation.<br>

            Associate designation and performance engineering skills having Java/J2EE Development background

            Trained in performance engineering, monitoring and analysis of Java/J2EE applications

            Trained in server monitoring tools and client-side profiling.<br>
        </p>

        <!-- </div> -->
    </div>

</body>
<!-- get from stack overflow sample

    QQQQuestion is below
    ===========================
        <div class="newWrapper">
    <div class="person1" style="float:left; display:inline-block; ">
        <span style="float:left;width: 20%;">
            <img src="http://www.ninahale.com/wp-content/uploads/2013/08/Google.jpg" width="70" height"70" /></span>
        <span style="float:right;width: 80%;">
    <p style="float:right; display:block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu mauris, ullamcorper et ligula vitae, hendrerit sodales tellus. Maecenas quis pulvinar lacus.</p>
        </span>
    </div>
    <div class="person2" style="float:left" display:inline-block;>
    <img src=simonwilliams.jpg width="auto" height"auto"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu mauris, ullamcorper et ligula vitae, hendrerit sodales tellus. Maecenas quis pulvinar lacus.</p>
    </div>
    </div>



Answer is below

 <div class="person1" style="float:left; display:inline-block; ">
        <span style="float:left;width: 20%;">
            <img src="http://www.ninahale.com/wp-content/uploads/2013/08/Google.jpg"  
             width="70" height"70" />
        </span>
        <span style="float:right;width: 80%;">
            <p style="float:right; display:block;">Lorem ipsum dolor sit amet,    
                    consectetur adipiscing elit. Integer arcu mauris, ullamcorper et 
                    ligula vitae, hendrerit sodales tellus. Maecenas quis pulvinar 
                    lacus.
            </p>
        </span>
 </div>
-->