<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">{{logo}}</a>
        <ul class="nav navbar-nav navbar-collapse justify-content-end">
            <li><a [routerLink]="['/Home']" routerLinkActive="router-link-active"  class="navbar-brand nav-link text-white">Home</a></li>
            <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active" class="nav-link navbar-brand text-white">AboutUS</a></li>
            <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active" class="nav-link navbar-brand text-white">ContactUS</a></li>
        </ul>
    </nav>
</header>