<body>
    <div class="container">
        <p>
            Performance Engineer with 4 years of experience in development and performance engineering of Java/J2EE
            applications in Cognizant. Worked in analyzing Heap Dumps, Thread Dumps, and GC Logs, Web access logs and
            other App and Web server parameters. Worked in Performance tuning and identifying bottlenecks in Web,
            Application and Database tiers. Worked on the automated scriptable tools to monitor website performance and
            critical business transaction in preproduction environment. Trained in performance monitoring and trained on
            performance analysis of Java/J2EE based applications. Write powershell scripts to do the basic tasks of
            automation.
        </p>
        <ul>

            <li> Associate designation and performance engineering skills having Java/J2EE Development background</li>

            <li>Trained in performance engineering, monitoring and analysis of Java/J2EE applications</li>

            <li>Trained in server monitoring tools and client-side profiling</li>

            <li>Involved in development and support of Java/J2EE applications.</li>

            <li>Involved in end-to-end phases of Performance Engineering, which includes, Non-functional requirements
                collection and analysis</li>

        </ul>
        <p>
            I am having the habit of reading books. My interests in reading books are self improvement books. <br>

            My Favorite books are listed below.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Book Titles</th>
                    <th>Categories</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aboutus of items">
                    <td>{{aboutus.id}}</td>
                    <td>{{aboutus.Booktitle}}</td>
                    <td>{{aboutus.Bookcategory}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</body>